html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: black;
}

body {
    background: linear-gradient(135deg, #000011 0%, #001144 50%, #003366 100%);
    background-attachment: scroll;
}

a {
    color: white;
}

.App {
    height: 100%;
}

.NavBar {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    background-color: rgb(25, 25, 25);
    color: #00ff99;
    z-index: 99999;
}

.NavBar > a {
    font-size: 25px;
    text-decoration: none;
    padding: 10px 10px 5px 10px;
    color: inherit;
}

.NavBar > a:hover {
    text-decoration: underline;
}

.NavBar > a > svg {
    vertical-align: middle;
    padding-bottom: 7px;
    padding-right: 10px;
    color: inherit;
}

.NavBar > a > img {
    width: 18px;
}

.NavBar > a:first-child {
    text-align: left;
    flex: 1 1 auto;
}

.NavBar > a:not(:first-of-type) {
    text-align: right;
}

.NavBar a.Button {
    display: none;
}

@media screen and (max-width: 1050px) {
    .NavBar > a {
        font-size: 20px;
    }

    .NavBar > a:not(:first-child) {
        display: none;
    }

    .NavBar > a.Button {
        font-size: 25px;
        display: inline-block;
    }

    .NavBar.responsive {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .NavBar.responsive > a {
        display: block;
        text-align: center;
    }

    .NavBar.responsive > a:hover {
        background-color: rgb(75, 75, 75);
        text-decoration: none;
    }

    .NavBar.responsive > a:first-child {
        display: inline-block;
    }

    .NavBar.responsive > a.Button {
        float: right;
    }

    .NavBar.responsive > a.Button:hover {
        background-color: transparent;
    }
}

.content-container {
    font-size: 25px;
    margin: 0 auto;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    max-width: 70vw;
    padding: 15px 15px 15px 15px;
    transition: all 0.3s ease;
}

.content-container:hover {
    text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99;
}

.content-container a {
    font-weight: bold;
}

.content-container svg {
    vertical-align: middle;
    padding-bottom: 5px;
}

.intro {
    background-color: black;
    min-height: 100dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    box-sizing: border-box;
}

.intro h1 {
    font-family: Arial;
    font-weight: bold;
    font-size: 70px;
}

.intro p {
    font-size: 30px;
    padding: 10px 50px 25px 50px;
    width: fit-content;
    margin: 0 auto 20px auto;
    text-align: center;
}

.view-work-btn {
    display: inline-block;
    color: #0ff998;
    border: 2px solid #00ff99;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    border-radius: 4px;
    transition: all 0.3s ease;
    background: transparent;
    margin-top: 10px;
}

.profile-image {
    float: right;
    width: 400px;
    margin: 25px 50px 10px 50px;
}

.main-title {
    text-align: center;
    font-size: 60px;
    padding-top: 60px;
}

.section-title {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

hr {
    margin: 0 7.5vw 30px 7.5vw;
    background-color: white;
    height: 2px;
    border: 0;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1120px;
    margin: 0 auto 30px auto;
}

.skill-list div {
    display: table-row-group;
    margin: 10px 20px 10px 10px;
}

.skill-list p {
    font-size: 30px;
    text-align: center;
    margin: 10px 0 15px 0;
}

.skill-list svg {
    border: 8px solid #00ff99;
    height: 180px;
    width: 180px;
    padding: 15px;
    transition: all 0.3s ease;
    color: inherit;
    border-radius: 8px;
}

.skill-list svg:hover {
    border-color: #00ff99;
    box-shadow: 0 0 20px #00ff99, 0 0 40px #00ff99;
}

.skill-list a:hover {
    color: #00ff99;
    text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99, 0 0 20px #00ff99;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.contact-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: opx;
}

.contact-container .copyLogo {
    cursor: pointer;
    vertical-align: middle;
}

.contact-container .logo {
    margin-top: 10px;
    font-size: 100px;
    color: #00ff99;
}

.contact-container p {
    text-align: center;
    padding: 0;
    margin: 20px;
    font-size: 25px;
}

.quote {
    margin: 20px 0 10px 0;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 0 15px;
    color: white;
}

.footer {
    font-size: 15px;
    padding: 10px 30px 5px 0;
    text-align: right;
    background-color: black;
    margin-top: 50px;
}

.footer a {
    color: white;
    transition: all 0.3s ease;
}

.project-grid {
  margin: 0 auto 50px auto;
  display: grid;
  max-width: calc(1280px + 2rem);
  padding: 0 1rem 0rem 1rem;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  box-sizing: border-box;
}

.project-card {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 2px solid #00ff99;
  transition: all 0.3s ease;
}

.project-card:hover {
  border-color: #00ff99;
  box-shadow: 0 0 20px #00ff99, 0 0 40px #00ff99, 0 0 60px #00ff99;
}

.project-img {
  width: 100%;
  padding-top: 56.25%;
  background-size: cover;
  background-position: center;
}

.project-text {
  padding: 1rem;
}

.project-text h3 {
  font-size: 1.5rem;
  color: #00ff99;
  margin-bottom: 0.5rem;
}

.project-text p {
  font-size: 1rem;
  color: #fff;
  line-height: 1.4;
}

.project-buttons {
  padding: 0 1rem 1rem;
}

.project-buttons a {
  color: #00ff99;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .project-grid {
    grid-template-columns: 1fr;
    max-width: 700px;
  }
}

@media (max-width: 650px) {

  .project-text h3 {
    font-size: 1.3rem;
  }

  .project-text p {
    font-size: 0.95rem;
  }
}

@media (max-width: 850px) {

    .content-container {
        font-size: 18px;
    }

    .intro {
        padding-top: 150px;
    }

    .intro h1,
    .main-title {
        font-size: 2em;
    }

    .section-title {
        font-size: 1.5em;
    }

    .quote {
        font-size: 1.2em;
    }

    .skill-list p {
        font-size: 1em;
    }

    .profile-image {
        float: none;
        display: block;
        width: 70vw;
        margin: auto;
    }

    .project-grid {
        max-width: 500px;
    }
}

@media (max-width: 650px) {
    .skill-list {
        margin: 10px 2.5vw;
    }

    .skill-list div {
        margin: 5px 10px;
    }

    .skill-list p {
        font-size: 0.9em;
        margin: 5px 0 10px 0;
    }

    .skill-list svg {
        border: 3.5px solid #00ff99;
        height: 150px;
        width: 150px;
        padding: 15px;
    }
}

@media (max-width: 500px) {
    .intro h1,
    .main-title {
        font-size: 1.5em;
    }

    .section-title {
        font-size: 1.2em;
    }

    .intro p {
        font-size: 1em;
        padding: 0 15px;
    }

    .skill-list p {
        font-size: 0.9em;
    }

    .skill-list svg {
        border: 2.5px solid #00ff99;
        height: 80px;
        width: 80px;
        padding: 15px;
    }
}

@media (max-width: 1200px) {
    .skill-list {
        width: auto;
        margin: 10px 15vw;
    }
}

@media (max-width: 800px) {
    .skill-list {
        margin: 10px 2.5vw;
    }
}